.accordion-list {
  .fa {
    font-size: inherit !important;
  }
}

.accordion-header {
  padding: 1rem 0;
}

.accordion-title {
  margin-bottom: 0;
}

div.accordion-item {
  border-bottom: 1px solid rgba($black, 0.3);

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    a {
      text-decoration: none;
    }

    .fa {
      color: inherit;
      background-color: inherit;
    }
  }
}
