.card-title {
  font-family: $roboto-condensed;
  font-size: 2rem;
}

.card-subtitle {
  color: theme-color('primary');
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-text {
  color: theme-color('dark');

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

.hours-card {
  border-radius: 0;

  &:not(:last-of-type) {
    border-bottom: none;
  }

  &:first-of-type {
    border-radius: .25rem .25rem 0 0;

    .card-body {
      border-radius: .25rem .25rem 0 0;
    }
  }

  &:last-of-type {
    border-radius: 0 0 0.25rem 0.25rem;

    .card-body {
      border-radius: 0 0 0.25rem 0.25rem;
    }
  }

  .card-subtitle {
    color: $gray-700;
    font-weight: 300;
  }
}
