.gform_fields {
  padding-left: 0;
  list-style-type: none;
}

.gform_button {
  @extend .btn;
  @extend .btn-primary;
}

input[type="text"], textarea {
  @extend .form-control;
}

label.gfield_label {
  font-weight: 700;
}

.validation_message {
  @extend .alert;
  @extend .alert-danger;

  margin-top: 1rem;
}

.gform_validation_container {
  display: none !important;
}

.gfield {
  margin-top: 1rem;
}

.ginput_complex {
  span {
    label {
      font-size: 90%;
      font-weight: 300;
    }
  }
}

.gfield_required {
  margin-left: 0.5rem;
  color: theme-color('danger');
}
