h1 {
  font-family: $roboto-condensed;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: theme-color('primary');

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

h3 {
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 1.75;

  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
  }
}

h4 {

}

h5 {
  letter-spacing: 1.5px;
}

h6 {

}