.hero {
  padding: 75px 0;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }

  &.has-background {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &.dark-theme {
    background-color: rgba($black, 0.95);
    color: theme-color('light');
    position: relative;

    a:not('.btn') {
      color: inherit;
    }

    h1, h2, h3, h4, h5, h6 {
      text-shadow: 2px 2px 4px rgba($black, 0.7);
    }

    h2 {
      color: inherit;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($black, 0.7);
      z-index: -1;
    }

    .hero-content {
      z-index: 1;
    }
  }

  p {
    line-height: 1.75;
  }
}