.logo {
  width: 260px;
  filter: invert(100%);

  @include media-breakpoint-down(lg) {
    width: 200px;
  }

  @include media-breakpoint-down(xs) {
    width: 150px;
  }
}

.opacity-hover {
  transition: 0.3s opacity ease;

  &:hover {
    opacity: 0.7;
  }
}

.social-icon {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 30px;
  text-align: center;
  background-color: $white;
  color: theme-color('primary');
  font-size: 15px !important;
  border: 1px solid $white;
  transition: 0.3s color ease;

  &:hover {
    color: white;
    background-color: theme-color('primary');
  }
}

.text-condensed {
  font-family: $roboto-condensed !important;
}

.social-links {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    display: inline-block;
    margin-right: 5px;
  }

  @include media-breakpoint-down(xs) {
    display: block;
    margin-top: 1rem;
  }
}

.lead {
  @include media-breakpoint-down(sm) {
    font-size: 1.1rem;
  }
}

section.section {
  padding: 3rem 15px;
  margin-left: auto;
  margin-right: auto;

  @include make-container-max-widths();
}

hr {
  @include make-container-max-widths();
}

.list-style-position-inside {
  list-style-position: inside;
}
