.site-footer {
  background-color: theme-color('primary');
  color: theme-color('light');
  padding: 1.5rem 0;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  a {
    color: theme-color('light');
  }

  .widget {
    margin-top: 1rem;

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .menu {
      list-style-type: none;
      padding-left: 0;

      .menu-item {
        margin: 0.25rem 0;
      }
    }
  }
}

.footer-bar {
  padding: 0.5rem 0;
  background-color: $black;
  color: theme-color('light');

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  a {
    color: theme-color('light');
  }

  .fa {
    color: $black;

    &:hover {
      color: theme-color('light');
      background-color: $black;
    }
  }

  .credit-link {
    @include media-breakpoint-up(md) {
      float: right;
    }
  }

  .credit, .social-links {
    @include media-breakpoint-down(sm) {
      display: block;
      margin-top: 1rem;
    }
  }
}