.menu-item {
  header & {
    margin: 0 1rem;

    @include media-breakpoint-down(md) {
      text-align: right;
      margin: 0.25rem 0;
    }
  }
}

.header-bar {
  background-color: theme-color('primary');
  color: white;
  padding: 0.5rem 0;

  @include media-breakpoint-down(xs) {
    text-align: center;
  }

  a {
    color: theme-color('light');
  }

  ul {
    margin-bottom: 0;
  }

  .social-links {
    @include media-breakpoint-up(sm) {
      float: right;
    }
  }
}

header.site-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

nav.navbar {
  padding-left: 0;
  padding-right: 0;
}
