.page-header {
  header.site-header {
    background-color: rgba($black, 0.9);
    color: theme-color('light');

    a {
      color: theme-color('light');
    }
  }

  &.has-banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    color: theme-color('light');

    header.site-header {
      background-color: transparent;
    }

    &.has-overlay {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.7);
        z-index: -1;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      text-shadow: 2px 2px 4px rgba($black, 0.7);
    }

    h1 {
      margin-bottom: 50px;
    }

    .banner-content {
      padding: 100px 0;

      @include media-breakpoint-down(sm) {
        padding: 50px 0;
      }
    }

    .banner-content {
      z-index: 1;
    }
  }

  h1 {
    font-size: 4rem;

    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 2rem;
    }
  }
}
