article.post {
  time {
    font-weight: 300;
    font-size: 1.25rem;
  }
}

h2 {
  &.entry-title {
    margin-bottom: 0.25rem;
    text-align: left;
  }
}

.post-image-link {
  img {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }
}
