.bw-session__name {
  font-family: $roboto-condensed !important;
  font-size: 1.5rem !important;
  line-height: normal !important;
}

.hc_time {
  font-weight: 300;
}

.bw-widget__day,
.bw-calendar-container,
.bw-widget__header {
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
}


#bw-widget__schedules-58502058075 .bw-embellished.bw-embellished--solid .bw-widget__cta, #bw-widget__schedules-58502058075 .bw-calendar__day--current > span, #bw-widget__schedules-58502058075 .bw-filter-count, .hc-pignose-calendar.hc-pignose-calendar-bw.hc-pignose-calendar-58502058075 .hc-pignose-calendar-body .hc-pignose-calendar-row .hc-pignose-calendar-unit.hc-pignose-calendar-unit-active a, .pignose-calendar.pignose-calendar-bw.pignose-calendar-58502058075 .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a, .hc-pignose-calendar.hc-pignose-calendar-bw-dark.hc-pignose-calendar-58502058075 .hc-pignose-calendar-body .hc-pignose-calendar-row .hc-pignose-calendar-unit.hc-pignose-calendar-unit-active a, .pignose-calendar.pignose-calendar-bw-dark.pignose-calendar-58502058075 .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a, .hc-pignose-calendar-wrapper .hc-pignose-calendar.hc-pignose-calendar-58502058075 .hc-pignose-calendar-button-group .hc-pignose-calendar-button-apply, .pignose-calendar-wrapper .pignose-calendar.pignose-calendar-58502058075 .pignose-calendar-button-group .pignose-calendar-button-apply {
  background-color: theme-color('primary') !important;
}

#bw-widget__schedules-58502058075 .bw-fullcal-button, #bw-widget__schedules-58502058075 .bw-filters__reset, #bw-widget__schedules-58502058075 .bw-calendar__day--today:not(.bw-calendar__day--current) > span, #bw-widget__schedules-58502058075 .bw-calendar__heading--current, #bw-widget__schedules-58502058075 .bw-widget:not(.bw-embellished--solid) .bw-widget__cta, #bw-widget__schedules-58502058075 .bw-checkbox, .hc-pignose-calendar-wrapper .hc-pignose-calendar.hc-pignose-calendar-bw.hc-pignose-calendar-58502058075 .hc-pignose-calendar-button-group .hc-pignose-calendar-button-cancel, .pignose-calendar-wrapper .pignose-calendar.hc-pignose-calendar-bw.pignose-calendar-58502058075 .pignose-calendar-button-group .pignose-calendar-button-cancel, .hc-pignose-calendar-wrapper .hc-pignose-calendar.hc-pignose-calendar-bw-dark.hc-pignose-calendar-58502058075 .hc-pignose-calendar-button-group .hc-pignose-calendar-button-cancel, .pignose-calendar-wrapper .pignose-calendar.hc-pignose-calendar-bw-dark.pignose-calendar-58502058075 .pignose-calendar-button-group .pignose-calendar-button-cancel,
#bw-widget__schedules-58502058075 .bw-session__detail-link, #bw-widget__schedules-58502058075 .bw-more-link, #bw-widget__schedules-58502058075 .bw-session__bio a, #bw-widget__schedules-58502058075 .bw-session__description a {
  color: theme-color('primary') !important;
}

.custom_html-3 {
  p {
    font-size: 90%;
    line-height: 1.75;
    font-family: $roboto-condensed;
  }
}

.widget {
  h3 {
    line-height: 1;
    font-family: $roboto-condensed;
    font-weight: bold;

    @include media-breakpoint-down(lg) {
      font-size: 1.5rem;
    }
  }
}

.gform_widget {
  label {
    display: none;
  }

  input[type="text"] {
    margin-top: 0.5rem;
    background-color: theme-color('light');
  }

  .gfield {
    margin-top: 0;

    &:first-of-type {
      margin-top: 1rem;

      .last_name {
        margin-top: 0;
      }
    }
  }

  .gform_fields {
    margin-bottom: 0.5rem;
  }

  input[type="submit"] {
    background-color: transparent;
    border-color: theme-color('light');
    display: block;
    width: 100%;

    &:hover {
      background-color: theme-color('light');
      color: theme-color('primary');
      cursor: pointer;
    }
  }
}